.out{
  width:100%; ;
}



.showin1024{
  display: none;
}

.hidein1024{
  margin-top: 56px;
  margin-bottom: 72px;
}

@media (min-width: 768px){

  .out{
    width: 286px;
  }
}



@media (min-width: 1024px){
  .showin1024{
    display: inline-block;
    margin-bottom: 96px;
  }

  .hidein1024{
    display: none;
  }
}
